<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Orquesta "Sun 21"</title>
    <link href="{{url_for('static', filename ='css/bootstrap.min.css')}}" rel="stylesheet">
  </head>

  <body>
    <center><h1>Orquesta "Sun 21"</h1></center>
            <center><img src="static/IMAGENES/orquesta.jpg"></center>
          </div>
        </div>
    <p>
      <center>
        <button type="button" class="btn btn-success btn-lg"><a href="Orquesta">Generar Orquesta</a></button></center>
    </p>
  </body>
</html>
